<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5 cool-link-nav" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5 cool-link-nav" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item cool-link-nav">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item cool-link-nav">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item cool-link-nav">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item cool-link-nav">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5 cool-link-nav" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Remote Controlled Vehicles
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=rc_cars" class="dropdown-item cool-link-nav">Cars</a>
                <a href="{% url 'products' %}?category=rc_boats" class="dropdown-item cool-link-nav">Boats</a>
                <a href="{% url 'products' %}?category=rc_helicopters" class="dropdown-item cool-link-nav">Helicopters</a>
                <a href="{% url 'products' %}?category=rc_planes" class="dropdown-item cool-link-nav">Planes</a>
                <a href="{% url 'products' %}?category=rc_cars,rc_boats,rc_helicopters,rc_planes" class="dropdown-item cool-link-nav">All RC Vehicles</a>
            </div>
        </li>

        <li class="nav-item ">
            <a href="{% url 'products' %}?category=bed_bath" class="logo-font font-weight-bold nav-link text-black mr-5 cool-link-nav">
                Accesories
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black cool-link-nav" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                More
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item cool-link-nav">New Arrivals</a>
                <a href="{% url 'products' %}?category=deals" class="dropdown-item cool-link-nav">Deals</a>
                <a href="{% url 'products' %}?category=clearance" class="dropdown-item cool-link-nav">Clearance</a>
                <a href="{% url 'products' %}?category=new_arrivals,deals,clearance" class="dropdown-item cool-link-nav">All Specials</a>
                <a href="https://www.privacypolicygenerator.info/live.php?token=j1hkjxFPwjJ8WtGQ5NQrMHhvbnBEhu2N" target="_blank" class="dropdown-item cool-link-nav">Privacy Policy</a>
                <a href="{% url 'contact_us' %}" class="dropdown-item cool-link-nav">Contact Us</a>

            </div>
        </li>
    </ul>
</div>

